
.container{
  display: block;
}

.containerHeader{
  min-height: calc(100vh - 2rem);
  margin: 0 auto;
  max-width: 1777px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img{
    width: 525px;
    height: 615px;
  }

}
.ctaText{
  max-width: 800px;
  padding-left: 60px; /* Adiciona padding à esquerda para mover os textos para a direita */

  .textoDestacado {
    font-size: 2.4rem; /* Defina o mesmo tamanho de fonte que o h1 */
    font-weight: 600; /* Mantenha o peso da fonte */
    color: #0473BA; /* Cor do texto destacado */

  }

  h1{
    font-size: 2.4rem;
    line-height: 4rem;
    font-weight: 600;
    margin-top: -8rem;
    color: #252430;
  }
  span{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #252430;
    font-weight: 200;

  }
  .subtextoDestacado {
    font-size: 1.6rem;
    line-height: 0rem;
    color:  #0473BA; 
    font-weight: 600; /* Mantenha o peso da fonte */
    /* Cor do texto destacado */

  }
  button{
    background-color: #2091F9;
    border:0;
    padding: 0.8rem 3rem;
    margin-top: 2rem;
    border-radius: 3rem;
    color: #fbfbfb;
    font-weight: bold;
  }
}
  
  .conteudo2{

    h2{
      font-size: 2.4rem;
      line-height: 4rem;
      color: #252430;
      text-align: center;
      display: flex;
      justify-content: center; /* Alinha horizontalmente ao centro */
      align-items: center; /* Alinha verticalmente ao centro */
      margin: 0 auto; /* Centralize o contêiner na tela */

    }
  
    span{
      font-size: 1.5rem;
      line-height: 2rem;
      color: #252430;
      text-align: center;
      display: flex;
      justify-content: center; /* Alinha horizontalmente ao centro */
      align-items: center; /* Alinha verticalmente ao centro */
      font-weight: 200;
      margin: 0 auto; /* Centralize o contêiner na tela */


    }
  }
.iconesContainer{
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 40vh;
  
  
  .icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px; 
  }

  h3{
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #252B42;
    text-align: center;
    font-weight: 600;
    margin: 0 auto; /* Centralize o contêiner na tela */

    
  }
    
  span{
    font-size: 1rem;
    line-height: 1.2rem;
    color: #252430;
    text-align: center;
    display: flex;
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    font-weight: 200;
    margin: 0 auto; /* Centralize o contêiner na tela */


  }

}  
.videoContainer {
  width: 100%; /* Defina a largura conforme necessário */
  max-width: 900px; /* Defina a largura máxima conforme necessário */
  border: 0.5px solid #ffff; /* Adicione uma borda sólida ao redor do vídeo */
  border-radius: 55px; /* Adicione bordas arredondadas */
  overflow: hidden; /* Certifique-se de que o vídeo não ultrapasse as bordas */
  margin: 0 auto; /* Centralize o contêiner na tela */
}


  
  

